{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>E-TIMBER</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- <link rel="manifest" href="site.webmanifest"> -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{%static 'css/font-awesome.min.css'%}">
	<link rel="stylesheet" href="{%static 'css/themify-icons.css'%}">
	<link rel="stylesheet" href="{%static 'css/nice-select.css'%}">
	<link rel="stylesheet" href="{%static 'css/flaticon.css'%}">
	<link rel="stylesheet" href="{%static 'css/gijgo.cs'%}">
	<link rel="stylesheet" href="{%static 'css/animate.css'%}">
	<link rel="stylesheet" href="{%static 'css/slicknav.css'%}">
	<link rel="stylesheet" href="{%static 'css/style.css'%}">
	<!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
	<!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
			<div class="header-area ">
				<div id="sticky-header" class="main-header-area">
					<div class="container-fluid p-0">
						<div class="row align-items-center no-gutters">
							<div class="col-xl-2 col-lg-2">
								<div class="logo-img">
									<a href="index.html">
						<h3></h3>
									</a>
								</div><br>
							</div>
							<div class="col-xl-7 col-lg-7">
								<div class="main-menu  d-none d-lg-block">
									<nav>
										<ul id="navigation">
											<li><a class="active" href="#"><b>home</b></a></li>
								
											
											<li><a href="/elements1"><b>About Us</b></a></li>
											<li><a href="/homemill"><b>Back </b></a></li>
							</div>
							<div class="col-xl-7 col-lg-7">
								<div class="main-menu  d-none d-lg-block">
									<h2> Contact Us</h2>
									<br>

									Head Office : R.S.No.42/2, 100 Ft Road,	<br>
Near R.T.O. Office, Mudaliarpet.	<br>
Pondicherry – 605 004.	<br>
E-mail:	
pondicherry@slsm.in	<br>
phone:7867564534<br>
	<br>

Branch Office :
Chennai	<br>
No.265, Dr.Selvi Jayakumar Street,	
Golden George Nagar<br>
Nerkundram (Mugappair-East),
Chennai -600107.	<br>
E-mail:
chennai@slsm.in
<br>
phone:7867564534<br><br>	<br>
Kanchipuram
10, Thayarkulam St, Pillaiyarpalayam,
Kanchipuram<br> Tamil Nadu 631501.	<br>
E-mail:
kanchipuram@slsm.in
									

											
												
								<!--	<div class="live_chat_btn">
										<a class="boxed_btn_green" href="#">
											<i class="flaticon-chat"></i>
											<span>Live Chat</span>-->
									
		<!-- header-end -->
	
		<!-- bradcam_area_start
		<div class="bradcam_area breadcam_bg overlay2">
				<h3>Elements</h3>
			</div>
			 bradcam_area_end -->

	<!-- Start Sample Area 
	
					<div class="col-md-3">
						<img src="img/elements/d.jpg" alt="" class="img-fluid">
					</div>
				</div>
			</div>
			
			</div>
			
											<input id="primary-input" type="text" name="first_name" placeholder="Primary color" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'">
											<label for="primary-input"></label>
										</div>
									</div> -->
						<!--	<div class="mt-10">
								<input type="text" name="first_name" placeholder="Primary color"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Primary color'" required
									class="single-input-primary">
							</div>
							<div class="mt-10">
								<input type="text" name="first_name" placeholder="Accent color"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Accent color'" required
									class="single-input-accent">
							</div>
							<div class="mt-10">
								<input type="text" name="first_name" placeholder="Secondary color"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary color'"
									required class="single-input-secondary">
							</div>
						</form>
					</div>
					<div class="col-lg-3 col-md-4 mt-sm-30">
						<div class="single-element-widget">
							<h3 class="mb-30">Switches</h3>
							<div class="switch-wrap d-flex justify-content-between">
								<p>01. Sample Switch</p>
								<div class="primary-switch">
									<input type="checkbox" id="default-switch">
									<label for="default-switch"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>02. Primary Color Switch</p>
								<div class="primary-switch">
									<input type="checkbox" id="primary-switch" checked>
									<label for="primary-switch"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>03. Confirm Color Switch</p>
								<div class="confirm-switch">
									<input type="checkbox" id="confirm-switch" checked>
									<label for="confirm-switch"></label>
								</div>
							</div>
						</div>
						<div class="single-element-widget mt-30">
							<h3 class="mb-30">Selectboxes</h3>
							<div class="default-select" id="default-select"">
										<select>
											<option value=" 1">English</option>
								<option value="1">Spanish</option>
								<option value="1">Arabic</option>
								<option value="1">Portuguise</option>
								<option value="1">Bengali</option>
								</select>
							</div>
						</div>
						<div class="single-element-widget mt-30">
							<h3 class="mb-30">Checkboxes</h3>
							<div class="switch-wrap d-flex justify-content-between">
								<p>01. Sample Checkbox</p>
								<div class="primary-checkbox">
									<input type="checkbox" id="default-checkbox">
									<label for="default-checkbox"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>02. Primary Color Checkbox</p>
								<div class="primary-checkbox">
									<input type="checkbox" id="primary-checkbox" checked>
									<label for="primary-checkbox"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>03. Confirm Color Checkbox</p>
								<div class="confirm-checkbox">
									<input type="checkbox" id="confirm-checkbox">
									<label for="confirm-checkbox"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>04. Disabled Checkbox</p>
								<div class="disabled-checkbox">
									<input type="checkbox" id="disabled-checkbox" disabled>
									<label for="disabled-checkbox"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>05. Disabled Checkbox active</p>
								<div class="disabled-checkbox">
									<input type="checkbox" id="disabled-checkbox-active" checked disabled>
									<label for="disabled-checkbox-active"></label>
								</div>
							</div>
						</div>
						<div class="single-element-widget mt-30">
							<h3 class="mb-30">Radios</h3>
							<div class="switch-wrap d-flex justify-content-between">
								<p>01. Sample radio</p>
								<div class="primary-radio">
									<input type="checkbox" id="default-radio">
									<label for="default-radio"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>02. Primary Color radio</p>
								<div class="primary-radio">
									<input type="checkbox" id="primary-radio" checked>
									<label for="primary-radio"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>03. Confirm Color radio</p>
								<div class="confirm-radio">
									<input type="checkbox" id="confirm-radio" checked>
									<label for="confirm-radio"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>04. Disabled radio</p>
								<div class="disabled-radio">
									<input type="checkbox" id="disabled-radio" disabled>
									<label for="disabled-radio"></label>
								</div>
							</div>
							<div class="switch-wrap d-flex justify-content-between">
								<p>05. Disabled radio active</p>
								<div class="disabled-radio">
									<input type="checkbox" id="disabled-radio-active" checked disabled>
									<label for="disabled-radio-active"></label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
	<!-- End Align Area -->
    <!-- footer -->
   <!-- <footer class="footer">
			<div class="footer_top">
				<div class="container">
					<div class="row">
						<div class="col-xl-3 col-md-6 col-lg-3">
							<div class="footer_widget">
								<div class="footer_logo">
										<a href="#">
										
											</a>
								</div>
								<p class="footer_text doanar"> <a class="first" href="#">
									</a> <br>
									<a href="#"><etimber@gmail class="com"></etimber@gmail></a></p>
									<div class="socail_links">
											<ul>
												<li>
													<a href="#">
														<i class="fa fa-facebook-square"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-twitter"></i>
													</a>
												</li>
												<li>
													<a href="#">
														<i class="fa fa-instagram"></i>
													</a>
												</li>
											</ul>
										</div>
	
							</div>
						</div>
						<div class="col-xl-3 col-md-6 col-lg-3">
							<div class="footer_widget">
								<h3 class="footer_title">
									service
								</h3>
								<ul>
									<li><a href="#">Hosting</a></li>
									<li><a href="#">Domain</a></li>
									<li><a href="#">Wordpress</a></li>
									<li><a href="#">Shared Hosting</a></li>
								</ul>
	
							</div>
						</div>
						<div class="col-xl-2 col-md-6 col-lg-2">
							<div class="footer_widget">
								<h3 class="footer_title">
									Navigation
								</h3>
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Rooms</a></li>
									<li><a href="#">About</a></li>
									<li><a href="#">News</a></li>
								</ul>
							</div>
						</div>
						<div class="col-xl-4 col-md-6 col-lg-4">
							<div class="footer_widget">
								<h3 class="footer_title">
									Newsletter
								</h3>
								<form action="#" class="newsletter_form">
									<input type="text" placeholder="Enter your mail">
									<button type="submit">Sign Up</button>
								</form>
								<p class="newsletter_text">Subscribe newsletter to get updates</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="copy-right_text">
				<div class="container">
					<div class="footer_border"></div>
					<div class="row">
						<div class="col-xl-12">
							<p class="copy_right text-center">-->
















								<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer -->
		<!-- link that opens popup -->
	
		<!-- form itself end-->
		<form id="test-form" class="white-popup-block mfp-hide">
			<div class="popup_box ">
				<div class="popup_inner">
					<div class="logo text-center">
						<a href="#">
							<img src="img/form-logo.png" alt="">
						</a>
					</div>
					<h3>Sign in</h3>
					<form action="#">
						<div class="row">
							<div class="col-xl-12 col-md-12">
								<input type="email" placeholder="Enter email">
							</div>
							<div class="col-xl-12 col-md-12">
								<input type="password" placeholder="Password">
							</div>
							<div class="col-xl-12">
								<button type="submit" class="boxed_btn_green">Sign in</button>
							</div>
						</div>
					</form>
					<p class="doen_have_acc">Don’t have an account? <a class="dont-hav-acc" href="#test-form2">Sign Up</a> </p>
				</div>
			</div>
		</form>
		<!-- form itself end -->
	
		<!-- form itself end-->
		<form id="test-form2" class="white-popup-block mfp-hide">
			<div class="popup_box ">
				<div class="popup_inner">
					<div class="logo text-center">
						<a href="#">
							<img src="img/form-logo.png" alt="">
						</a>
					</div>
					<h3>Resistration</h3>
					<form action="#">
						<div class="row">
							<div class="col-xl-12 col-md-12">
								<input type="email" placeholder="Enter email">
							</div>
							<div class="col-xl-12 col-md-12">
								<input type="password" placeholder="Password">
							</div>
							<div class="col-xl-12 col-md-12">
								<input type="Password" placeholder="Confirm password">
							</div>
							<div class="col-xl-12">
								<button type="submit" class="boxed_btn_green">Sign Up</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</form>
		<!-- form itself end -->

	<!-- JS here -->
	<script src="%{static 'js/vendor/modernizr-3.5.0.min.js'%}"></script>
	<script src="%{static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
	<script src="%{static 'js/popper.min.j'%s}"></script>
	<script src="%{static 'js/bootstrap.min.js'%}"></script>
	<script src="%{static 'js/owl.carousel.min.js'%}"></script>
	<script src="%{static 'js/isotope.pkgd.min.js'%}"></script>
	<script src="%{static 'js/ajax-form.js'%}"></script>
	<script src="%{static 'js/waypoints.min.js'%}"></script>
	<script src="%{static 'js/jquery.counterup.min.js'%}"></script>
	<script src="%{static 'js/imagesloaded.pkgd.min.js'%}"></script>
	<script src="%{static 'js/scrollIt.js'%}"></script>
	<script src="%{static 'js/jquery.scrollUp.min.js'%}"></script>
	<script src="%{static 'js/wow.min.js'%}"></script>
	<script src="%{static 'js/nice-select.min.js'%}"></script>
	<script src="%{static 'js/jquery.slicknav.min.js'%}"></script>
	<script src="%{static 'js/jquery.magnific-popup.min.js'%}"></script>
	<script src="%{static 'js/plugins.js'%"></script>
	<script src="%{static 'js/gijgo.min.js'%}"></script>

	<!--contact js-->
	<script src="{%static 'js/contact.js'%}"></script>
	<script src="{%static 'js/jquery.ajaxchimp.min.js'%}"></script>
	<script src="{%static 'js/jquery.form.js'%}"></script>
	<script src="{%static 'js/jquery.validate.min.js'%}"></script>
	<script src="{%static 'js/mail-script.js'%}"></script>

	<script src="%static 'js/main.js'%"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
        var timepicker = $('#timepicker').timepicker({
         format: 'HH.MM'
     });
    </script>
</body>
</html>